---
import '../styles/global.css';
import { siteMeta } from '../data/site';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = siteMeta.title,
  description = siteMeta.description,
} = Astro.props;

const pageTitle = title === siteMeta.title ? title : `${title} | ${siteMeta.title}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <meta name="author" content={siteMeta.author} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfZfplhQpVfUQjV+LFt2hQ0kN6x0sBILowKIiMzFxLpy0X58F3RrgPf63eNbUsVTNff7kwh28ykV59CEN0z7dQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <link rel="canonical" href={new URL(Astro.url.pathname, siteMeta.siteUrl).toString()} />
  </head>
  <body>
    <slot />
  </body>
</html>
